
        body {
            font-family: 'Times New Roman', Times, serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
            
        }
        .calculator {
            border: 2px solid #ccc;
            padding: 20px;
            width: 300px;
            border-radius: 10px;
            text-align: center;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
        }
        .textbox {
            width: 90%;
            padding: 10px;
            margin: 10px 0;
            border-radius: 5px;
            border: 1px solid #ccc;
        }
        .button {
            margin: 5px;
            padding: 10px 20px;
            border-radius: 5px;
            border: 1px solid #007BFF;
            background-color: #007BFF;
            color: white;
            cursor: pointer;
        }
        .button:hover {
            background-color: #0056b3;
        }
        .result {
            margin-top: 20px;
            font-size: 1.5 em;
            color: #333;
            font-family: 'Times New Roman', Times, serif;
        }